[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "nameof"]
	path = nameof
	url = https://github.com/Neargye/nameof.git
[submodule "soloud"]
	path = soloud
	url = https://github.com/denghe/soloud.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/denghe/glfw
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/denghe/lmdb.git
[submodule "spine-runtimes-cpp-38"]
	path = spine-runtimes-cpp-38
	url = https://github.com/denghe/spine-runtimes-cpp-38.git
